<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BytedanceWdaAggregate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Bytedance_Wda.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WebDriverAgentLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>948869FA240690530015C7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE158A981CBD452B00A3E3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE836C011C0F118600D87246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF988291C486603005CA669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
